.DS_Store
node_modules/
/dist/
/router/session*
/bin/session*
/bin/proc/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.bak
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
